@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gotham Pro';
}

.mynav{
  background-color: #B5AA96	; 
  
}

.mynav .container-fluid a{
  font-family: 'Gotham Pro';
  color: black;
  font-size: 27px;
  margin-left: 35px;
}
.mynav .nav-item a{
    color: black;
    font-size: 17px;
   font-family: 'Gotham Pro';
   letter-spacing: 1px;
   font-weight: 500;
}
.mynav .nav-item:first-child{
     font-family: 'Gotham Pro';
    background-color: #f7bc58;
  
}
.mynav .nav-iteme{
     font-family: 'Gotham Pro';
    text-content: end;
  
}
.collapse.navbar-collapse.menu {
  font-weight: 600;
  color: black;
}

.collapse.navbar-collapse.menu a {
    color: black;
}
.zurag img {
	position: absolute;
}
.zurag h2{
	position: absolute;
	color: black;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 60px;
  margin-top: 100px;
}
.zurag .info-btn {
	position: absolute;
	color: white;
  background: #f7bc58;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 60px;
  border-radius: 5px;
  margin-top: 320px;

}
.zurag p{
	font-size: 20px;
  font-weight: 500;
  position: absolute;
  margin-top: 260px;
}

@media (max-width: 1500px) {

      .zurag h2{
        font-size:60px;
        margin-top: 50px;
        }
      .zurag p{
        font-size:15px;
        margin-top: 200px;
      }
      .zurag .info-btn{
      	margin-top: 260px;
      }
      .golgarchig  {
      	margin-top: 300px;
      }

}
@media (max-width: 1200px) {

      .zurag h2{
        font-size:60px;
        margin-top: 20px;
        }
      .zurag p{
        font-size:15px;
        margin-top: 150px;
      }
      .zurag .info-btn{
      	margin-top: 200px;
}   
}
@media (max-width: 800px) {

      .zurag h2{
        font-size:30px;
        margin-top: 0px;
        }
      .zurag p{
        font-size:15px;
        margin-top: 120px;
      }
      .zurag .info-btn{
      	margin-top: 150px;
      	padding: 5px 15px; 
}   
}
.golgarchig{
    margin-top: 500px;
}
.golgarchig h2 {
    text-align: center;
    letter-spacing: 2px;
    color: black;
}
.golgarchig h4 {
    text-align: center;
    letter-spacing: 2px; 
    color: lightgray; 
}
.notebook-container {
	margin-left: 250px;
	margin-right: 250px;
	width: 80%;
	
}
.notebook-container img {
	float: right;
	display: flex;

}
.text {
	font-family: 'Gotham Pro';
	text-align: justify;
}
.info-btn {
	color: white;
  background: #f7bc58;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 5px 50px;
  border-radius: 3px;
  margin-top: 100px;
}
.garchig {
	justify-content: center;
	margin-top: 50px;
}
.garchig h2 {
	text-align: center;
    letter-spacing: 2px;
    color: black;
}
.garchig h4 {
		text-align: center;
    letter-spacing: 2px;
    color: black;  	
}
.main {
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	
}
.main img {
	object-fit: cover;
	object-position: center;
	margin: 100px auto; 
}
.service {
	background-color: #D3D3D3;
}
.topic h2 {
		text-align: center;
    letter-spacing: 2px;
    color: black;		
}
.topic h4 {
		text-align: center;
    letter-spacing: 2px;
    color: lightgray;
}
.about{
	width: 100%;
	padding: 78px 0px;
}
.about img{
	height: auto;
	width: auto;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-a;
} 
.about-text info-btn {
	color: white;
  background: #f7bc58;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 5px 40px;
  border-radius: 5px;
}
h6 {
	color: #f7bc58;
}
.emailte h2 {
	text-align: center;
    letter-spacing: 2px;
    color: black;		
}
.emailte h4 {
		text-align: center;
    letter-spacing: 2px;
    color: black;
}
#footer-email {
	width: 250px;
	height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-right: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
#footer-email::placeholder {
	color: #b1b1b1;
}
#footer-email-btn {
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color: #f7bc58;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1rem;
}
.suulih {
	background-color: #D3D3D3;
}
#footer-email-form {
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.photos img {
	justify-content: center;
	align-items: center;
	margin-left: 70px;
	margin-right: 70px;
}

.footer-container{
    max-width: 1170px;
    margin:auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    list-style: none;
} 
.footer{
    background-color: black;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul p{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    
    text-align: justify;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}