@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #2B4E64;
}
.mynav{
  background-color:transparent;
  margin-top:0px;
  border-bottom: 3px solid darkcyan;
}
.mynav .container-fluid a{
  font-family: sans-serif;
  color: darkcyan;
  font-size: 47px;
  margin-left: 35px;
}
.mynav .nav-item a{
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    margin-right: 30px;
}
.mynav .nav-item:last-child{
    padding: -2px;
    background-color: darkcyan;
    border-radius: 10px;
    margin-right: -10px;
}
.collapse.navbar-collapse.menu {
  font-weight: 600;
  color:darkcyan;
}

.collapse.navbar-collapse.menu a {
    color: white;
}
.row .col-sm {
    margin-top: 50px;
}
.about-left-content > div{
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
    border-radius: 12px 12px 0 0;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
}
.about-img img {
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid darkcyan;
    color: white;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
    color: white;
}
.icons{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li{
    list-style-type: none;
    background: darkcyan;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.section-title h1{
    color: white;
    font-family: nike combat stencil;
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}
.section-title h1:before {
    content: '';
    width: 120px;
    height: 3px;
    background: darkcyan;
    top: 100%;
    left: 0;
    position: absolute;
    border-radius: 5px;
}

.section-title h1:after {
    content: '';
    width: 70px;
    height: 3px;
    background: darkcyan;
    top: 100%;
    left: 0;
    position: absolute;
    border-radius: 5px;
    margin-top: 8px;
}
.skills{
    margin-top: 50px;
    margin-left: 50px;
}
h6{
    color: White;
    font-size: 16px;
}
h2{
    color: white;
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 30px;
}
.skill-item{
    margin-bottom: 30px;
    margin-right: 50px;
}
h5{
    line-height: 40px;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
}
.progress{
    background: #12192c;
    height: 4px;
    border-radius: 1px;
    width: 100%;
    position: relative;
}
.progress-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    border-radius: 0.1px;
    background: darkcyan;
}
.skill-percent{
    line-height: 40px;
    position: absolute;
    right: 0;
    color: white;
    top: -40px;
    font-weight: 400
}


.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    list-style: none;
} 
.footer{
    background-color: #12192c;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    justify-content: center;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: darkcyan;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
